/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.title-animation, section.welcome div.title span {
  -webkit-animation: title 2.5s ease-in-out;
  -moz-animation: title 2.5s ease-in-out;
  animation: title 2.5s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes title {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes title {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes title {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes title {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes title {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.title-fade-in-animation, section.welcome div.title {
  -webkit-animation: title-fade-in 3.25s ease-in-out;
  -moz-animation: title-fade-in 3.25s ease-in-out;
  animation: title-fade-in 3.25s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes title-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97); }

  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    opacity: 1; } }

@-moz-keyframes title-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97); }

  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    opacity: 1; } }

@-ms-keyframes title-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97); }

  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    opacity: 1; } }

@-o-keyframes title-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97); }

  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    opacity: 1; } }

@keyframes title-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97); }

  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    opacity: 1; } }

.intro-fade-in-animation, section.welcome article.intro {
  -webkit-animation: intro-fade-in 2s ease-in-out;
  -moz-animation: intro-fade-in 2s ease-in-out;
  animation: intro-fade-in 2s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s; }

@-webkit-keyframes intro-fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes intro-fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes intro-fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes intro-fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes intro-fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

html, body {
  min-height: 100%; }

body {
  color: #505050;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

h1 {
  font: bold 1.6em/1.2em "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: uppercase; }

p {
  font: 300 1.2em/1.5em "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8c8c8c; }
  p a {
    font: 300 1em/1.5em "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p + p {
  margin-top: 12px; }

a {
  border-bottom: 1px dotted transparent;
  color: #529ae7;
  font: 300 1.2em/1.5em "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 2px;
  text-decoration: none;
  -webkit-transition: all, 0.15s, linear;
  -moz-transition: all, 0.15s, linear;
  -ms-transition: all, 0.15s, linear;
  -o-transition: all, 0.15s, linear;
  transition: all, 0.15s, linear; }
  a:hover {
    border-color: #529ae7;
    color: #1a67b9; }

section.welcome {
  padding: 30vh 0px;
  text-align: center; }
  section.welcome > header {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center; }
  section.welcome div.title {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin-bottom: 30px;
    position: relative; }
    section.welcome div.title span {
      font: bold 1.6em/1.2em "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      letter-spacing: 3px;
      margin-right: 10px;
      position: relative;
      text-transform: uppercase; }
      section.welcome div.title span:nth-child(1) {
        -webkit-animation-delay: 0.5s;
        -moz-animation-delay: 0.5s;
        animation-delay: 0.5s; }
      section.welcome div.title span:nth-child(2) {
        -webkit-animation-delay: 1.3s;
        -moz-animation-delay: 1.3s;
        animation-delay: 1.3s; }
      section.welcome div.title span:nth-child(3) {
        -webkit-animation-delay: 2.1s;
        -moz-animation-delay: 2.1s;
        animation-delay: 2.1s; }
      section.welcome div.title span:nth-child(4) {
        -webkit-animation-delay: 2.8s;
        -moz-animation-delay: 2.8s;
        animation-delay: 2.8s;
        margin-right: 0px; }
  section.welcome article.intro {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #a0a0a0;
    line-height: 2em;
    margin: 0 auto;
    text-align: center;
    width: 580px; }

section.intro {
  background-color: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30vh 0px 0px;
  height: 80vh; }
  section.intro article {
    zoom: 1;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto; }
    section.intro article:before, section.intro article:after {
      content: "";
      display: table; }
    section.intro article:after {
      clear: both; }
    section.intro article div.avatar {
      background: url("/images/avatar.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 50%;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      height: 130px;
      margin-right: 20px;
      width: 130px;
      vertical-align: middle; }
    section.intro article hgroup {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      vertical-align: middle; }
      section.intro article hgroup h1 {
        font-size: 2.6em;
        letter-spacing: 2px;
        margin: 0; }
      section.intro article hgroup h2 {
        color: #8c8c8c;
        font: italic 1.2em/1.4em Georgia, Cambria, "Times New Roman", Times, serif, "Time New Roman", "Playfair Display";
        letter-spacing: 1px;
        margin-left: 2px; }

header.global {
  border-bottom: 1px solid black;
  background: rgba(0, 0, 0, 0.8);
  zoom: 1;
  padding: 12px 20px 10px; }
  header.global:before, header.global:after {
    content: "";
    display: table; }
  header.global:after {
    clear: both; }
  header.global.stuck {
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px; }
  header.global a {
    color: #5a5a5a;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 2px;
    text-transform: uppercase; }
    header.global a:hover {
      border-bottom: 1px dotted #b4b4b4;
      color: #b4b4b4; }
  header.global a.index {
    float: left; }
  header.global nav {
    float: right; }
    header.global nav a {
      margin-left: 15px; }

section.gallery {
  zoom: 1;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 140px 0px; }
  section.gallery:before, section.gallery:after {
    content: "";
    display: table; }
  section.gallery:after {
    clear: both; }
  section.gallery article {
    margin-bottom: 140px; }
    section.gallery article figcaption {
      display: block;
      float: left;
      margin-right: 2.5641%;
      width: 69.23077%;
      margin-left: 10.25641%;
      float: none;
      margin-bottom: 60px; }
      section.gallery article figcaption:last-child {
        margin-right: 0; }
    section.gallery article div.image {
      border: 1px solid #b4b4b4;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 80px;
      padding: 1px; }
      section.gallery article div.image video {
        display: block;
        width: 100%; }
      section.gallery article div.image a {
        background: #f0f0f0;
        border: 0px;
        display: block;
        padding: 0px; }
        section.gallery article div.image a img {
          display: block;
          min-width: 100%;
          max-width: 100%;
          margin: 0px; }
