/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section.intro footer {
  -webkit-animation: slide-up 0.5s linear;
  -moz-animation: slide-up 0.5s linear;
  animation: slide-up 0.5s linear;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.75s;
  -moz-animation-delay: 1.75s;
  animation-delay: 1.75s; }

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    bottom: -35px; }

  70% {
    opacity: 1; }

  100% {
    bottom: 0px; } }

@-moz-keyframes slide-up {
  0% {
    opacity: 0;
    bottom: -35px; }

  70% {
    opacity: 1; }

  100% {
    bottom: 0px; } }

@-ms-keyframes slide-up {
  0% {
    opacity: 0;
    bottom: -35px; }

  70% {
    opacity: 1; }

  100% {
    bottom: 0px; } }

@-o-keyframes slide-up {
  0% {
    opacity: 0;
    bottom: -35px; }

  70% {
    opacity: 1; }

  100% {
    bottom: 0px; } }

@keyframes slide-up {
  0% {
    opacity: 0;
    bottom: -35px; }

  70% {
    opacity: 1; }

  100% {
    bottom: 0px; } }

section.intro article {
  -webkit-animation: title 1s ease-out;
  -moz-animation: title 1s ease-out;
  animation: title 1s ease-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s; }

@-webkit-keyframes title {
  0% {
    opacity: 0;
    top: -20px; }

  70% {
    top: 0px; }

  100% {
    opacity: 1; } }

@-moz-keyframes title {
  0% {
    opacity: 0;
    top: -20px; }

  70% {
    top: 0px; }

  100% {
    opacity: 1; } }

@-ms-keyframes title {
  0% {
    opacity: 0;
    top: -20px; }

  70% {
    top: 0px; }

  100% {
    opacity: 1; } }

@-o-keyframes title {
  0% {
    opacity: 0;
    top: -20px; }

  70% {
    top: 0px; }

  100% {
    opacity: 1; } }

@keyframes title {
  0% {
    opacity: 0;
    top: -20px; }

  70% {
    top: 0px; }

  100% {
    opacity: 1; } }

html, body {
  min-height: 100%; }

body {
  color: #505050;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

h1 {
  font: bold 1.6em/1.2em "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: uppercase; }

p {
  font: 300 1.2em/1.5em "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8c8c8c; }
  p a {
    font: 300 1em/1.5em "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p + p {
  margin-top: 12px; }

a {
  border-bottom: 1px dotted transparent;
  color: #529ae7;
  font: 300 1.2em/1.5em "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 2px;
  text-decoration: none;
  -webkit-transition: all, 0.15s, linear;
  -moz-transition: all, 0.15s, linear;
  -ms-transition: all, 0.15s, linear;
  -o-transition: all, 0.15s, linear;
  transition: all, 0.15s, linear; }
  a:hover {
    border-color: #529ae7;
    color: #1a67b9; }

html {
  height: 100%; }
  html body {
    height: 100%; }
    html body section#container {
      height: 100%; }

section.intro {
  background-image: url("/images/glow.jpg");
  background-color: #fafafa;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25vh 0px 0px;
  position: relative;
  height: 100vh; }
  @media screen and (max-width: 480px) {
    section.intro {
      height: 100%;
      padding: 70px 0px 100px; } }
  section.intro article {
    position: relative;
    zoom: 1;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    section.intro article:before, section.intro article:after {
      content: "";
      display: table; }
    section.intro article:after {
      clear: both; }
    section.intro article div.avatar-wrapper {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      margin-right: 15px;
      position: relative; }
    section.intro article label.avatar {
      background: url("/images/avatar.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      height: 160px;
      opacity: 0.8;
      position: relative;
      width: 160px;
      vertical-align: middle;
      z-index: 2; }
      @media screen and (max-width: 768px) {
        section.intro article label.avatar {
          margin: 0 0 20px 0; } }
      @media screen and (max-width: 480px) {
        section.intro article label.avatar {
          height: 120px;
          width: 120px; } }
    section.intro article nav {
      height: 0px;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 0px;
      z-index: 1; }
      section.intro article nav > a {
        background-size: 100% 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 50% 50%;
        border: 2px solid transparent;
        display: block;
        height: 38px;
        left: 50%;
        margin-left: -19px;
        margin-top: -19px;
        opacity: 0;
        position: absolute;
        top: 50%;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        width: 38px; }
        @media screen and (max-width: 480px) {
          section.intro article nav > a {
            height: 32px;
            width: 32px;
            margin-left: -16px;
            margin-top: -16px; } }
        section.intro article nav > a.twitter {
          background-image: url("/images/twitter.png"); }
          section.intro article nav > a.twitter:hover {
            background-color: #1daced;
            border-color: #1daced; }
        section.intro article nav > a.github {
          background-image: url("/images/github.png"); }
          section.intro article nav > a.github:hover {
            background-color: #4183c4;
            border-color: #4183c4; }
        section.intro article nav > a.dribbble {
          background-image: url("/images/dribbble.png"); }
          section.intro article nav > a.dribbble:hover {
            background-color: #ea4c89;
            border-color: #ea4c89; }
    section.intro article input[type="checkbox"] {
      display: none;
      left: 50%;
      position: absolute;
      top: 50%;
      visibility: hidden;
      z-index: 1; }
    section.intro article input[type="checkbox"]:checked + nav > a {
      opacity: 1;
      -webkit-transform: rotate(1080deg);
      -moz-transform: rotate(1080deg);
      -ms-transform: rotate(1080deg);
      -o-transform: rotate(1080deg);
      transform: rotate(1080deg); }
      section.intro article input[type="checkbox"]:checked + nav > a.twitter {
        left: -120px;
        top: -10px; }
      section.intro article input[type="checkbox"]:checked + nav > a.github {
        left: -90px;
        top: -90px; }
      section.intro article input[type="checkbox"]:checked + nav > a.dribbble {
        left: -10px;
        top: -120px; }
    @media screen and (max-width: 480px) {
      section.intro article input[type="checkbox"]:checked + nav > a {
        opacity: 1;
        -webkit-transform: rotate(1080deg);
        -moz-transform: rotate(1080deg);
        -ms-transform: rotate(1080deg);
        -o-transform: rotate(1080deg);
        transform: rotate(1080deg); }
        section.intro article input[type="checkbox"]:checked + nav > a.twitter {
          left: -100px;
          top: -10px; }
        section.intro article input[type="checkbox"]:checked + nav > a.github {
          left: -80px;
          top: -80px; }
        section.intro article input[type="checkbox"]:checked + nav > a.dribbble {
          left: -10px;
          top: -110px; } }
    section.intro article hgroup {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      position: relative;
      vertical-align: middle;
      z-index: 1; }
      @media screen and (max-width: 768px) {
        section.intro article hgroup {
          display: block; } }
      section.intro article hgroup h1 {
        color: rgba(0, 0, 0, 0.6);
        font-size: 2.3em;
        letter-spacing: 2px;
        margin: 0; }
        @media screen and (max-width: 480px) {
          section.intro article hgroup h1 {
            font-size: 1.6em; } }
      section.intro article hgroup h2 {
        color: #8c8c8c;
        color: rgba(0, 0, 0, 0.4);
        font: italic 1.35em/1.4em Georgia, Cambria, "Times New Roman", Times, serif, "Time New Roman", "Playfair Display";
        letter-spacing: 1px;
        margin-left: 2px; }
        @media screen and (max-width: 480px) {
          section.intro article hgroup h2 {
            font-size: 0.9em; } }
  section.intro footer {
    border-bottom: 6px solid rgba(0, 0, 0, 0.6);
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100%; }
    section.intro footer a.gallery-link {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 3px 3px 0 0;
      bottom: 0px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      height: 28px;
      left: 50%;
      margin-left: -23px;
      padding-top: 11px;
      position: absolute;
      text-align: center;
      width: 46px; }
      section.intro footer a.gallery-link:before {
        border-top: 10px solid rgba(0, 0, 0, 0.4);
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        content: "";
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto; }
      section.intro footer a.gallery-link:hover {
        border: none;
        padding-top: 12px; }

header.global {
  border-bottom: 1px solid black;
  background: rgba(0, 0, 0, 0.8);
  zoom: 1;
  padding: 12px 20px 10px; }
  header.global:before, header.global:after {
    content: "";
    display: table; }
  header.global:after {
    clear: both; }
  @media screen and (max-width: 480px) {
    header.global {
      text-align: center; } }
  header.global.stuck {
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px; }
  header.global a {
    color: #5a5a5a;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 2px;
    text-transform: uppercase; }
    header.global a:hover {
      border-bottom: 1px dotted #b4b4b4;
      color: #b4b4b4; }
  header.global a.index {
    float: left; }
    @media screen and (max-width: 480px) {
      header.global a.index {
        float: none;
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        margin-bottom: 3px;
        display: none; } }
  header.global nav {
    float: right; }
    @media screen and (max-width: 480px) {
      header.global nav {
        float: none; } }
    header.global nav a {
      margin-left: 15px; }

section.gallery {
  zoom: 1;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 140px 10px; }
  section.gallery:before, section.gallery:after {
    content: "";
    display: table; }
  section.gallery:after {
    clear: both; }
  @media screen and (max-width: 768px) {
    section.gallery {
      padding: 110px 10px; } }
  @media screen and (max-width: 480px) {
    section.gallery {
      padding: 80px 10px; } }
  section.gallery article {
    margin-bottom: 140px; }
    @media screen and (max-width: 768px) {
      section.gallery article {
        margin-bottom: 120px; } }
    @media screen and (max-width: 480px) {
      section.gallery article {
        margin-bottom: 100px; } }
    section.gallery article figcaption {
      display: block;
      float: left;
      margin-right: 2.5641%;
      width: 69.23077%;
      margin-left: 10.25641%;
      float: none;
      margin-bottom: 60px; }
      section.gallery article figcaption:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        section.gallery article figcaption {
          display: block;
          float: left;
          margin-right: 3.22581%;
          width: 112.90323%;
          margin-left: 12.90323%;
          float: none; }
          section.gallery article figcaption:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        section.gallery article figcaption {
          width: 100%;
          margin-left: 0%;
          float: none;
          margin-bottom: 40px; } }
    section.gallery article div.image {
      border: 1px solid #b4b4b4;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 80px;
      padding: 1px; }
      @media screen and (max-width: 768px) {
        section.gallery article div.image {
          margin-bottom: 60px; } }
      @media screen and (max-width: 480px) {
        section.gallery article div.image {
          margin-bottom: 40px; } }
      section.gallery article div.image video {
        display: block;
        width: 100%; }
      section.gallery article div.image a {
        background: #f0f0f0;
        border: 0px;
        display: block;
        padding: 0px; }
        section.gallery article div.image a img {
          display: block;
          min-width: 100%;
          max-width: 100%;
          margin: 0px; }

section.swiss-wrapper {
  border: 1px solid #e6e6e6;
  box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.08);
  height: 600px;
  margin: 90px auto;
  position: relative;
  width: 620px; }
  section.swiss-wrapper header {
    background: #fff;
    border: 1px solid #f0f0f0;
    height: 188px;
    padding: 0.6em;
    position: absolute;
    bottom: 16px;
    left: 16px;
    text-align: right;
    width: 200px;
    z-index: 3; }
    section.swiss-wrapper header h1 {
      margin: 100px 0 0 0;
      font-size: 4em; }
  section.swiss-wrapper article.stripes {
    background: -webkit-linear-gradient(-45deg, transparent 40%, yellow 40%, yellow 45%, orange 45%, orange 50%, red 50%, red 55%, pink 55%, pink 60%, transparent 60%);
    background: -moz-linear-gradient(-45deg, transparent 40%, yellow 40%, yellow 45%, orange 45%, orange 50%, red 50%, red 55%, pink 55%, pink 60%, transparent 60%);
    background: -ms-linear-gradient(-45deg, transparent 40%, yellow 40%, yellow 45%, orange 45%, orange 50%, red 50%, red 55%, pink 55%, pink 60%, transparent 60%);
    background: -o-linear-gradient(-45deg, transparent 40%, yellow 40%, yellow 45%, orange 45%, orange 50%, red 50%, red 55%, pink 55%, pink 60%, transparent 60%);
    background: linear-gradient(-45deg, transparent 40%, yellow 40%, yellow 45%, orange 45%, orange 50%, red 50%, red 55%, pink 55%, pink 60%, transparent 60%);
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    z-index: 2; }

section.evolve-wrapper header {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  background: linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.06);
  left: 0px;
  padding: 15px;
  position: fixed;
  right: 0px;
  text-align: center;
  top: 0px; }
  section.evolve-wrapper header h1 {
    color: rgba(0, 0, 0, 0.4);
    margin: 0px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4); }
section.evolve-wrapper ul.blocks {
  padding: 2.12766%;
  margin-top: 65px; }
  section.evolve-wrapper ul.blocks li {
    background-image: url("/images/evolve.jpg");
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    margin-bottom: 34px;
    padding: 2px; }
    @media screen and (min-width: 1025px) {
      section.evolve-wrapper ul.blocks li {
        display: block;
        float: left;
        margin-right: 2.12766%;
        width: 23.40426%; }
        section.evolve-wrapper ul.blocks li:last-child {
          margin-right: 0; }
        section.evolve-wrapper ul.blocks li:nth-child(4n) {
          margin-right: 0; } }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      section.evolve-wrapper ul.blocks li {
        display: block;
        float: left;
        margin-right: 2.12766%;
        width: 31.91489%; }
        section.evolve-wrapper ul.blocks li:last-child {
          margin-right: 0; }
        section.evolve-wrapper ul.blocks li:nth-child(3n) {
          margin-right: 0; } }
    @media screen and (max-width: 768px) {
      section.evolve-wrapper ul.blocks li {
        display: block;
        float: left;
        margin-right: 3.22581%;
        width: 48.3871%; }
        section.evolve-wrapper ul.blocks li:last-child {
          margin-right: 0; }
        section.evolve-wrapper ul.blocks li:nth-child(2n) {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      section.evolve-wrapper ul.blocks li {
        display: block;
        float: left;
        margin-right: 6.66667%;
        width: 100%;
        margin-right: 0; }
        section.evolve-wrapper ul.blocks li:last-child {
          margin-right: 0; } }
    section.evolve-wrapper ul.blocks li img {
      max-width: 100%; }
