/*
Syntax error: File to import not found or unreadable: tumblr_760_up.
              Load paths:
                /Users/galenfrechette/Dropbox/Dev/frechg.github.com
                /Users/galenfrechette/Dropbox/Dev/frechg.github.com/stylesheets/scss
        on line 12 of stylesheets/scss/tumblr.scss

7: @import "tumblr_variables";
8: 
9: @import "tumblr_theme";
10: 
11: @media only screen and (min-width: 760px) {
12:   @import 'tumblr_760_up';
13: }
14: 
15: @media only screen and (min-width: 1025px) {
16:   @import 'tumblr_995_up';
17: }

Backtrace:
stylesheets/scss/tumblr.scss:12
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/check_nesting.rb:86:in `rescue in invalid_import_parent?'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/check_nesting.rb:80:in `invalid_import_parent?'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/check_nesting.rb:144:in `try_send'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/check_nesting.rb:12:in `visit'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:39:in `visit'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/check_nesting.rb:36:in `visit_root'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:24:in `visit'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/root_node.rb:19:in `render'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/galenfrechette/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: tumblr_760_up.\A               Load paths:\A                 /Users/galenfrechette/Dropbox/Dev/frechg.github.com\A                 /Users/galenfrechette/Dropbox/Dev/frechg.github.com/stylesheets/scss\A         on line 12 of stylesheets/scss/tumblr.scss\A \A 7: @import \"tumblr_variables\";\A 8: \A 9: @import \"tumblr_theme\";\A 10: \A 11: @media only screen and (min-width: 760px) {\A 12:   @import 'tumblr_760_up';\A 13: }\A 14: \A 15: @media only screen and (min-width: 1025px) {\A 16:   @import 'tumblr_995_up';\A 17: }"; }
