///////////////////////////////////////////////////////////////////////////////////
//
// Animation Template
//
///////////////////////////////////////////////////////////////////////////////////


%slide-up-animation {
  @include animation(slide-up 0.5s linear);
  @include animation-fill-mode(both);
  @include animation-delay(1.75s);
}

@mixin slide-up-keyframes {
  0% {
    opacity: 0;
    bottom: -35px
  }
  70% {
    opacity: 1;
  }
  100% {
    bottom: 0px
  }
}

@-webkit-keyframes slide-up { @include slide-up-keyframes; }
   @-moz-keyframes slide-up { @include slide-up-keyframes; }
    @-ms-keyframes slide-up { @include slide-up-keyframes; }
     @-o-keyframes slide-up { @include slide-up-keyframes; }
        @keyframes slide-up { @include slide-up-keyframes; }


//
///////////////////////////////////////////////////////////////////////////////////

%title-animation {
  @include animation(title 1s ease-out);
  @include animation-fill-mode(both);
  @include animation-delay(0.6s);
}

@mixin title-keyframes {
  0% {
    opacity: 0;
    top: -20px
  }
  70% {
    top: 0px
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes title { @include title-keyframes; }
   @-moz-keyframes title { @include title-keyframes; }
    @-ms-keyframes title { @include title-keyframes; }
     @-o-keyframes title { @include title-keyframes; }
        @keyframes title { @include title-keyframes; }
