///////////////////////////////////////////////////////////////////////////////////
//
// Animation Template
//
///////////////////////////////////////////////////////////////////////////////////

.title-animation {
  @include animation(title 2.5s ease-in-out);
  @include animation-fill-mode(both);
}

@mixin title-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes title { @include title-keyframes; }
   @-moz-keyframes title { @include title-keyframes; }
    @-ms-keyframes title { @include title-keyframes; }
     @-o-keyframes title { @include title-keyframes; }
        @keyframes title { @include title-keyframes; }


//
///////////////////////////////////////////////////////////////////////////////////

.title-fade-in-animation {
  @include animation(title-fade-in 3.25s ease-in-out);
  @include animation-fill-mode(both);
}

@mixin title-fade-in-keyframes {
  0% {
    opacity: 0;
    @include transform(scale(0.97));
  }
  50% {
    @include transform(scale(1));
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes title-fade-in { @include title-fade-in-keyframes; }
   @-moz-keyframes title-fade-in { @include title-fade-in-keyframes; }
    @-ms-keyframes title-fade-in { @include title-fade-in-keyframes; }
     @-o-keyframes title-fade-in { @include title-fade-in-keyframes; }
        @keyframes title-fade-in { @include title-fade-in-keyframes; }


//
///////////////////////////////////////////////////////////////////////////////////

.intro-fade-in-animation {
  @include animation(intro-fade-in 2s ease-in-out);
  @include animation-fill-mode(both);
  @include animation-delay(3.5s);
}

@mixin intro-fade-in-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes intro-fade-in { @include intro-fade-in-keyframes; }
   @-moz-keyframes intro-fade-in { @include intro-fade-in-keyframes; }
    @-ms-keyframes intro-fade-in { @include intro-fade-in-keyframes; }
     @-o-keyframes intro-fade-in { @include intro-fade-in-keyframes; }
        @keyframes intro-fade-in { @include intro-fade-in-keyframes; }
