///////////////////////////////////////////////////////////////////////////////
//
//  Global Variables
//
///////////////////////////////////////////////////////////////////////////////

$gw-column: 60px;
$gw-gutter: 20px;

$fg-column: $gw-column;
$fg-gutter: $gw-gutter;
$fg-max-columns: 12;

$sans-serif: 'Lato', $helvetica;
$serif: $georgia, 'Time New Roman', 'Playfair Display';
